/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: "Gill Sans Extrabold", serif;
    line-height: 1.6;
    background: #fff;
    color: #333;
    padding-top: 60px;
}

header {
    background: #363636;
    color: #ddd;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #92a0f1;
}

section {
    padding: 4rem 2rem;
    margin: 2rem auto;
    max-width: 1200px;
    text-align: center;
}

h2 {
    color: rgb(30, 30, 30);
    font-size: 2rem;
    text-align: left;
    margin-bottom: 20px;
}

#main {
    padding: 6rem 8rem;
    text-align: center;
    background-image: url('sd.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px;
}

#main .main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.318);
    border-radius: 4px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.891);
}

#main .profile-pic {
    margin-right: 3rem;
}

#main .profile-pic img {
    border-radius: 4px;
    width: 300px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.424);
}

#main .about-text {
    text-align: center;
}

#main h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #2d4c9a;
    animation: typing 2.5s steps(30, end), blink-caret .75s step-end infinite;
}

#main p {
    font-size: 1.25rem;
}

/* Typing effect */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Blinking cursor */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: rgb(86, 174, 199);
    }
}

.social-icons {
    margin-top: 1rem;
}

.social-icons a {
    margin: 0 10px;
    color: #333;
    font-size: 2rem;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #6d8ab8;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
}

.profile-pic-square {
    margin-right: 3rem;
}

.profile-pic-square img {
    border-radius: 5px;
    width: 300px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
}

.about-text h2 {
    font-size: 2rem;
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.6;
}

h1,
h2 {
    margin-bottom: 1rem;
    color: #2c2c2c;
}

p {
    margin-bottom: 0.5rem;
    color: #333;
}

ul {
    padding-left: 20px;
    text-align: left;
    color: #333;
}

a {
    color: #6d8ab8;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #92a0f1;
}

.experience-item {
    background-color: #f7f7f7;
    border-left: 3px solid #2d4c9a;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 0px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.048);
}

.experience-header {
    display: inline-block;
    align-items: center;
    margin-bottom: 1rem;
}

.experience-logo {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.experience h2 {
    font-size: 1.2rem;
    color: #444445;
    margin-bottom: 0.25rem;
}

.experience-item h3 {
    font-size: 1.2rem;
    color: #2d4c9a;
    margin-bottom: 0.25rem;
}

.experience-item p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.3rem;
}

.experience-item ul {
    list-style: disc;
    padding-left: 1rem;
}

.experience-item ul li {
    margin-bottom: 0.25rem;
    color: #555;
}

.skills-used {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.skill {
    background-color: rgba(45, 76, 154, 0.2);
    color: #2d4c9a;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
}

#activities {
    padding: 2rem 2rem;
    margin-top: 10px;
    margin-bottom: 2rem;
    max-width: 1200px;
    text-align: left;
}

#activities h2 {
    color: rgb(30, 30, 30);
    font-size: 2rem;
    text-align: left;
    margin-bottom: 20px;
}

.activities-container {
    background-color: #f7f7f7;
    border-left: 3px solid #2d4c9a;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.048);
}

.activities-header {
    display: block;
    align-items: center;
    margin-bottom: 0rem;
}

.activities-logo {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.activities-header h3 {
    font-size: 1.5rem;
    color: #2d4c9a;
}

.activities-header p {
    font-size: 1rem;
    color: #343434;
}

.activities-container ul {
    list-style: disc inside;
    padding-left: 20px;
}

.activities-container ul li {
    margin-bottom: 0.25rem;
    color: #1d1c1c;
}

#contact {
    background: #ffffff;
    padding: 4rem 2rem;
    text-align: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item .icon {
    font-size: 1.5rem;
    color: #2d4c9a;
    margin-right: 10px;
}

.contact-item .text {
    font-size: 1.2rem;
    color: #2d4c9a;
    align-items: center;
}

.contact-item a {
    color: #2d4c9a;
    text-decoration: none;
    align-items: center;
}

.contact-item a:hover {
    text-decoration: underline;
}

.resume-container {
    margin-top: 2rem;
}

.download-resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-resume {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #2d4c9a;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

.download-resume:hover {
    background-color: #393939;
    transition: background-color 0.3s;
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 767px) {
    #main {
        padding: 4rem 1rem; /* Reduce padding for smaller screens */
    }
    #main .main-container {
        flex-direction: column; /* Stack items vertically */
        padding: 1rem; /* Reduce padding for smaller screens */
    }
    #main .profile-pic {
        margin-right: 0;
        margin-bottom: 1rem; /* Add margin below the image */
    }
    #main .profile-pic img {
        width: 100%; /* Make image responsive */
    }
    .about-container {
        flex-direction: column; /* Stack items vertically */
        text-align: center; /* Center text for smaller screens */
        padding: 1rem; /* Reduce padding for smaller screens */
    }
    .profile-pic-square {
        margin-right: 0;
        margin-bottom: 1rem; /* Add margin below the image */
    }
    .profile-pic-square img {
        width: 100%; /* Make image responsive */
    }
    section {
        padding: 2rem 1rem; /* Reduce padding for smaller screens */
    }
    .experience-item {
        padding: 1rem; /* Reduce padding for smaller screens */
    }
    .skills-used {
        justify-content: center; /* Center skills on smaller screens */
    }
    #activities {
        padding: 2rem 1rem; /* Reduce padding for smaller screens */
    }
    .activities-container {
        padding: 1rem; /* Reduce padding for smaller screens */
    }
    .contact-container {
        padding: 1rem; /* Reduce padding for smaller screens */
    }
}
