/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background: #fff; /* White background */
    color: #333;
    padding-top: 60px; /* Add padding to prevent content from being hidden behind the fixed header */
}

header {
    background: #363636;
    color: #ddd;
    padding: 1rem 0;
    text-align: center;
    position: fixed; /* Fix the header at the top */
    width: 100%; /* Ensure it spans the full width of the screen */
    top: 0; /* Position it at the top */
    z-index: 1000; /* Ensure it is above other content */
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #92a0f1;
}

section {
    padding: 4rem 2rem;
    margin: 2rem auto;
    max-width: 1200px;
    text-align: center;
}

#main {
    padding: 6rem 8rem; /* Increase top padding */
    text-align: center;
    background-image: url('sd.png'); /* Add the background image */
    background-size: cover; /* Ensure the image covers the section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    border-radius: 5px;
}

#main .main-container {
    display: flex;
    flex-direction: row; /* Align items in a row */
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.318);
    border-radius: 8px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.891); /* Semi-transparent background to make text readable */
}

#main .profile-pic {
    margin-right: 3rem; /* Space between the image and the text */
}

#main .profile-pic img {
    border-radius: 10px; /* Rounded corners */
    width: 400px; /* Increase image size */
    height: auto; /* Ensure aspect ratio is maintained */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
}

#main .about-text {
    text-align: left; /* Align text to the left */
}

#main h1 {
    font-size: 3rem; /* Increase font size */
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange; /* Cursor effect */
    animation: typing 2.5s steps(30, end), blink-caret .75s step-end infinite;
}

#main p {
    font-size: 1.35rem;
}

/* Typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* Blinking cursor */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

.social-icons {
    margin-top: 1rem;
}

.social-icons a {
    margin: 0 10px;
    color: #333;
    font-size: 2rem;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #6d8ab8;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
}

.profile-pic-square {
    margin-right: 3rem;
}

.profile-pic-square img {
    border-radius: 5px;
    width: 300px; /* Set the size of the square photo */
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
}

.about-text h2 {
    font-size: 2.5rem;
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.6;
}

h1, h2 {
    margin-bottom: 1rem;
    color: #333;
}

p {
    margin-bottom: 1rem;
    color: #333;
}

ul {
    padding-left: 20px;
    text-align: left;
    color: #333;
}

a {
    color: #6d8ab8;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #92a0f1;
}

.experience-item {
    background-color: #f7f7f7;
    border-left: 4px solid #628efb;
    padding: 1.5rem;
    margin-bottom: 0.75rem;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.experience-logo {
    width: 60px; /* Set the size of the logo */
    height: 60px; /* Set the size of the logo */
    margin-right: 1rem;
}

.experience-item h3 {
    font-size: 1.5rem;
    color: #363636;
    margin-bottom: 0.5rem;
}

.experience-item p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.experience-item ul {
    list-style: disc;
    padding-left: 1.5rem;
}

.experience-item ul li {
    margin-bottom: 0.5rem;
    color: #555;
}

@media (min-width: 768px) {
    .experience-item h3 {
        font-size: 1.75rem;
    }

    .experience-item p {
        font-size: 1.1rem;
    }

    .experience-item ul {
        padding-left: 2rem;
    }
}
